
    body{ 
        background-color:#9e4942;
        margin : 0px;
        font-family: 'Open Sans', sans-serif ;
        #container {

        width: 960px;
        margin: 20px auto;
        border: #fff;
        }        

    } 

 